function Direction.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Direction.X 0
push argument 0
pop pointer 0
push this 0
return
function Direction.Y 0
push argument 0
pop pointer 0
push this 1
return
function Direction.ToInt 0
push argument 0
pop pointer 0
push this 0
push constant 0
eq
push this 1
push constant 1
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
return
label IF_FALSE0
push this 0
push constant 0
eq
push this 1
push constant 1
neg
eq
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 2
return
label IF_FALSE1
push this 0
push constant 1
eq
push this 1
push constant 0
eq
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 4
return
label IF_FALSE2
push this 0
push constant 1
neg
eq
push this 1
push constant 0
eq
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 3
return
label IF_FALSE3
push constant 0
return
function Direction.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Direction.Left 0
push constant 3
return
function Direction.Right 0
push constant 4
return
function Direction.Down 0
push constant 2
return
function Direction.Up 0
push constant 1
return
