function Player.new 0
push constant 8
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 0
pop this 4
push constant 0
pop this 5
push constant 1
pop this 3
push constant 5
pop this 7
push pointer 0
push constant 0
call Player.Move 2
pop temp 0
push pointer 0
return
function Player.Move 3
push argument 0
pop pointer 0
push pointer 0
push this 2
call Player.EraseShip 2
pop temp 0
push argument 1
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 4
push this 7
neg
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 4
push constant 1
sub
pop this 4
label IF_FALSE2
push pointer 0
call Player.UpdatePositon 1
pop local 2
push pointer 0
push local 2
call Player.drawUp 2
pop temp 0
label IF_FALSE1
push argument 1
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 4
push this 7
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 4
push constant 1
add
pop this 4
label IF_FALSE4
push pointer 0
call Player.UpdatePositon 1
pop local 2
push pointer 0
push local 2
call Player.drawDown 2
pop temp 0
label IF_FALSE3
push argument 1
push constant 3
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 5
push this 7
neg
gt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 5
push constant 1
sub
pop this 5
label IF_FALSE6
push pointer 0
call Player.UpdatePositon 1
pop local 2
push pointer 0
push local 2
call Player.drawLeft 2
pop temp 0
label IF_FALSE5
push argument 1
push constant 4
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 5
push this 7
lt
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 5
push constant 1
add
pop this 5
label IF_FALSE8
push pointer 0
call Player.UpdatePositon 1
pop local 2
push pointer 0
push local 2
call Player.drawRight 2
pop temp 0
label IF_FALSE7
push argument 1
pop this 3
goto IF_END0
label IF_FALSE0
push pointer 0
call Player.UpdatePositon 1
pop local 2
push this 3
push constant 1
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push pointer 0
push local 2
call Player.drawDown 2
pop temp 0
label IF_FALSE9
push this 3
push constant 2
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push pointer 0
push local 2
call Player.drawUp 2
pop temp 0
label IF_FALSE10
push this 3
push constant 3
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push pointer 0
push local 2
call Player.drawLeft 2
pop temp 0
label IF_FALSE11
push this 3
push constant 4
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push pointer 0
push local 2
call Player.drawRight 2
pop temp 0
label IF_FALSE12
label IF_END0
push local 2
pop this 2
push constant 0
return
function Player.GetX 0
push argument 0
pop pointer 0
push this 0
return
function Player.GetY 0
push argument 0
pop pointer 0
push this 1
return
function Player.UpdatePositon 1
push argument 0
pop pointer 0
push this 0
push this 5
add
pop this 0
push this 1
push this 4
add
pop this 1
push this 1
push constant 32
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 220
pop this 1
label IF_FALSE0
push this 1
push constant 220
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 32
pop this 1
label IF_FALSE1
push this 0
push constant 32
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 480
pop this 0
label IF_FALSE2
push this 0
push constant 480
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 32
pop this 0
label IF_FALSE3
push this 1
push constant 32
call Math.multiply 2
push this 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
return
function Player.dispose 0
push argument 0
pop pointer 0
push pointer 0
push this 2
call Player.EraseShip 2
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Player.drawLeft 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 6
push this 6
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 64
add
push constant 15872
call Memory.poke 2
pop temp 0
push this 6
push constant 96
add
push constant 5760
neg
call Memory.poke 2
pop temp 0
push this 6
push constant 128
add
push constant 13920
call Memory.poke 2
pop temp 0
push this 6
push constant 160
add
push constant 5736
neg
call Memory.poke 2
pop temp 0
push this 6
push constant 192
add
push constant 13926
call Memory.poke 2
pop temp 0
push this 6
push constant 224
add
push constant 5735
neg
call Memory.poke 2
pop temp 0
push this 6
push constant 256
add
push constant 13926
call Memory.poke 2
pop temp 0
push this 6
push constant 288
add
push constant 5736
neg
call Memory.poke 2
pop temp 0
push this 6
push constant 320
add
push constant 13920
call Memory.poke 2
pop temp 0
push this 6
push constant 352
add
push constant 5760
neg
call Memory.poke 2
pop temp 0
push this 6
push constant 384
add
push constant 15872
call Memory.poke 2
pop temp 0
push this 6
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Player.drawUp 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 6
push this 6
push constant 0
add
push constant 256
call Memory.poke 2
pop temp 0
push this 6
push constant 32
add
push constant 640
call Memory.poke 2
pop temp 0
push this 6
push constant 64
add
push constant 640
call Memory.poke 2
pop temp 0
push this 6
push constant 96
add
push constant 1344
call Memory.poke 2
pop temp 0
push this 6
push constant 128
add
push constant 1344
call Memory.poke 2
pop temp 0
push this 6
push constant 160
add
push constant 2720
call Memory.poke 2
pop temp 0
push this 6
push constant 192
add
push constant 2720
call Memory.poke 2
pop temp 0
push this 6
push constant 224
add
push constant 5456
call Memory.poke 2
pop temp 0
push this 6
push constant 256
add
push constant 5456
call Memory.poke 2
pop temp 0
push this 6
push constant 288
add
push constant 10920
call Memory.poke 2
pop temp 0
push this 6
push constant 320
add
push constant 10920
call Memory.poke 2
pop temp 0
push this 6
push constant 352
add
push constant 13656
call Memory.poke 2
pop temp 0
push this 6
push constant 384
add
push constant 10920
call Memory.poke 2
pop temp 0
push this 6
push constant 416
add
push constant 16376
call Memory.poke 2
pop temp 0
push this 6
push constant 448
add
push constant 5456
call Memory.poke 2
pop temp 0
push this 6
push constant 480
add
push constant 5456
call Memory.poke 2
pop temp 0
push constant 0
return
function Player.drawRight 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 6
push this 6
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 96
add
push constant 124
call Memory.poke 2
pop temp 0
push this 6
push constant 128
add
push constant 407
call Memory.poke 2
pop temp 0
push this 6
push constant 160
add
push constant 1644
call Memory.poke 2
pop temp 0
push this 6
push constant 192
add
push constant 6551
call Memory.poke 2
pop temp 0
push this 6
push constant 224
add
push constant 26220
call Memory.poke 2
pop temp 0
push this 6
push constant 256
add
push constant 26217
neg
call Memory.poke 2
pop temp 0
push this 6
push constant 288
add
push constant 26220
call Memory.poke 2
pop temp 0
push this 6
push constant 320
add
push constant 6551
call Memory.poke 2
pop temp 0
push this 6
push constant 352
add
push constant 1644
call Memory.poke 2
pop temp 0
push this 6
push constant 384
add
push constant 407
call Memory.poke 2
pop temp 0
push this 6
push constant 416
add
push constant 124
call Memory.poke 2
pop temp 0
push this 6
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Player.drawDown 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 6
push this 6
push constant 0
add
push constant 2728
call Memory.poke 2
pop temp 0
push this 6
push constant 32
add
push constant 2728
call Memory.poke 2
pop temp 0
push this 6
push constant 64
add
push constant 8188
call Memory.poke 2
pop temp 0
push this 6
push constant 96
add
push constant 5460
call Memory.poke 2
pop temp 0
push this 6
push constant 128
add
push constant 6828
call Memory.poke 2
pop temp 0
push this 6
push constant 160
add
push constant 5460
call Memory.poke 2
pop temp 0
push this 6
push constant 192
add
push constant 5460
call Memory.poke 2
pop temp 0
push this 6
push constant 224
add
push constant 2728
call Memory.poke 2
pop temp 0
push this 6
push constant 256
add
push constant 2728
call Memory.poke 2
pop temp 0
push this 6
push constant 288
add
push constant 1360
call Memory.poke 2
pop temp 0
push this 6
push constant 320
add
push constant 1360
call Memory.poke 2
pop temp 0
push this 6
push constant 352
add
push constant 672
call Memory.poke 2
pop temp 0
push this 6
push constant 384
add
push constant 672
call Memory.poke 2
pop temp 0
push this 6
push constant 416
add
push constant 320
call Memory.poke 2
pop temp 0
push this 6
push constant 448
add
push constant 320
call Memory.poke 2
pop temp 0
push this 6
push constant 480
add
push constant 128
call Memory.poke 2
pop temp 0
push constant 0
return
function Player.EraseShip 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 6
push this 6
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push this 6
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
